[submodule "readium-sdk"]
	path = readium-sdk
	url = https://github.com/nodehack/readium-sdk.git
[submodule "Resources/readium-shared-js"]
	path = Resources/readium-shared-js
	url = https://github.com/nodehack/readium-shared-js.git
